.zoom_right {
  cursor: e-resize;
  width: 5px;
  height: 100%;
  top: 0;
  right: 0;
  z-index: 1;
  background-color: transparent;
  position: absolute
}

.zoom_rb {
  cursor: se-resize;
  width: 5px;
  height: 5px;
  right: 0;
  bottom: 0;
  z-index: 3;
  position: absolute;
  background-color: transparent
}

.zoom_bottom {
  cursor: s-resize;
  width: 100%;
  height: 5px;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 1;
  background-color: transparent
}